@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <partial name="RegPartial"></partial>
            </div>

            <div class="col-md">
                <partial name="LoginPartial"></partial>
            
        </div>
    </div>
</div>
</div>
